.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 32%;
  min-width: 150px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 20px;

  @media only screen and (max-width: 600px) {
    width: 24px;
    height: 24px;
    font-size: 16px;
  }

  &.remember {
    color: lightgreen;

    &:hover {
      color: #fff;
      background-color: lightgreen;
    }
  }

  &.delete {
    color: lightcoral;

    &:hover {
      color: #fff;
      background-color: lightcoral;
    }
  }

  &.edit {
    color: deepskyblue;

    &:hover {
      color: #fff;
      background-color: deepskyblue;
    }
  }
}

.iconContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.card {
  font-size: 20px;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
  perspective: 1000px;
  height: 33px;
  width: 80%;

  &.rotated {
    .cardInner {
      transform: rotateY(180deg);
    }
  }

  &.remembered {
    .cardFront,
    .cardBack {
      text-decoration: line-through;
    }
  }

  @media only screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  word-break: break-word;
}

.cardFront {
  background-color: #fff;
  color: black;
}

.cardBack {
  background-color: #52a8ae;
  background-image: linear-gradient(to top, rgba(26, 40, 120, 0.70), rgba(10, 143, 196, 0.70));
  color: white;
  transform: rotateY(180deg);
}
