.cardsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyText {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
