.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: lightgreen;
  padding: 0 15px;

  .logoWrapper {
    display: flex;
    align-items: center;

    .logo {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }

    .title {
      font-size: 20px;
      font-weight: 800;
    }
  }

  .loginBtn {
    padding: 10px;
    font-size: 16px;
    flex-shrink: 2;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    color: #000;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }

    .icon {
      margin-right: 5px;
      font-size: 24px;
      vertical-align: top;
    }
  }
}
