.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.3);
}

.card {
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 32px;
  background-color: #52a8ae;
  color: #fff;
}

.actions {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
  font-size: 32px;

  span {
    margin-right: 10px;
  }

  @media only screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.loader {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: center;
  color: #fff;
  font-size: 28px;
}

.word {
  text-align: center;

  .edit {
    display: inline-block;
    font-size: 24px;
    height: 40px;
    margin-left: 10px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, .3);
    }
  }
}

.input {
  text-align: center;
}
