.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainContent {
  padding: 40px 20px 40px;
  min-height: calc(100vh - 120px);
  box-sizing: border-box;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(assets/background.jpg);
}
