.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto 20px;
}

.text {
  text-align: center;
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

.words {
  margin-top: 10px;
  padding: 5px;
  background-image: linear-gradient(to top, rgba(26,40,120,0.70), rgba(10,143,196,0.70));
}

.word {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}
